<h1>POC replay message</h1>
<div class="wrap">
  <div class="container">
    <div class="video">
      <div class="timer">
        <p class="counter">
          {{ counter }}
        </p>
        <button (click)="startCounter()">
          {{ isCounting ? 'Stop' : 'Start' }}
        </button>
      </div>
      <input type="range" min="0" [max]="maxDurationInSeconds" [value]="counter" (input)="setCounter($event)">
    </div>
    <div class="chat" #scrollContainer>
      <ul>
        <li *ngFor="let message of listMessage" >
          <b>{{ message.username || message.username_as }}:</b> {{ message.message }}
        </li>
      </ul>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
